In [ ]:
#Write a Pandas program to implement following operation
#to create a dataframe from a dictionary and display it
import numpy as np
import pandas as pd
details = {'Name' : ['Kinjal', 'Dhruvi', 'Jal', 'Mahek'],'Enrollment' : [91, 90, 82, 80]}
df = pd.DataFrame(details)
print(df)

In [ ]:
#Write a Pandas program to implement following operation
#to sort the DataFrame first by 'name' in ascending order
import numpy as np
import pandas as pd
details = {'Name' : ['Kinjal', 'Dhruvi', 'Jal', 'Mahek'],'Enrollment' : [91, 90, 82, 80]}
df_new=df.sort_values(by=['Name'], ascending=True) # can specify multiple columns in a list as well.
print(df_new)

In [ ]:
#Write a Pandas program to implement following operation
#to delete the one specific column from the DataFrame
import numpy as np
import pandas as pd
details = {'Name' : ['Kinjal', 'Dhruvi', 'Jal', 'Mahek'],'Enrollment' : [91, 90, 82, 80]}
del df['Enrollment']
print(df)

In [ ]:

# Write a Pandas program to implement following operation
# to write a DataFrame to CSV file using tab separator

import numpy as np
import pandas as pd
students = {'Student': ['Kinjal', 'Dhruvi','Jal', 'Mahek'],'RollNumber': [91, 90, 82, 80],'Grade': ['A', 'C', 'F', 'B']}
df = pd.DataFrame(students,columns =['Student', 'RollNumber','Grade'])

print("Original DataFrame")
print(df)

df.to_csv('Students.csv', sep ='\t')
new_df = pd.read_csv('Students.csv')


print('Data from Students.csv:')
print(new_df)